@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
body {
    padding: 0 50px;
    background-color: #1f2632;
    font-family: "Manrope";
}


h1 {
    text-align: center;
    color: whitesmoke;
}

.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  

.container {
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: 5px 5px 20px black;
    padding: 20px 20px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h2 {
    text-align: center;
    color: whitesmoke;
}

.poke__list{
    padding: 20px 20px;;
    color: whitesmoke;
    border: 1px solid black;
    box-shadow: 5px 5px 20px black;
    border-radius: 30px;
    background-color: #323a4a;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

input {
    border-radius: 20px;
    box-shadow: 2px 2px 20px black;
    padding: 10px 10px;
    font-family: "Manrope";
    color: whitesmoke;
    background-color: #323a4a;
}

.btn {
    cursor: pointer;
    transition: 1s;
}

.btn:hover{
    text-decoration: underline;
    transform: scale(1.2);
}

li{
    cursor: pointer;
    transition: 1s;
}

li:hover{
    text-decoration: underline;
    transform: scale(1.2);
}