body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh; /*altezza viewport*/
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}