@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
    color: black;
    background-color: #1f2632;
    font-family: "Manrope";
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    padding: 10px 10px;
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
}

h1, h3 {
    color: whitesmoke;
}

.attori {
    border-top: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.181);
    box-shadow: 5px 5px 20px black;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-wrap: wrap;
}

.card {
    border-bottom: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-radius: 20px;
    box-shadow: 1px 1px 20px black;
    padding: 10px 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:728px) {}