@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;800&display=swap");

html, body {
    margin: 0;
    font-family: "Montserrat";
    background-color: whitesmoke;
}

.main__title{
    border-bottom: 3px solid rgb(180, 153, 120);
    text-align: center;
}

.menu{
    background-color: rgb(180, 153, 120);
    padding: 10px 20px;
    border-bottom: 4px solid whitesmoke;
}

.tracking-in-expand-fwd-top {
	-webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
  
@-webkit-keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(-500px);
              transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(-500px);
              transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

  
.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  

.menu ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.menu li {
    color: whitesmoke;
    cursor: pointer;
}

.menu li:hover{
    text-decoration: underline;
}

main{
    position: relative;
    text-align: center;
}

main img{
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.7;
}

.hero__text {
    padding: 0 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.hero__text h1{
    margin-bottom: 1px;
}

.hero__text p{
    margin-top: 1px;
}

.hero__text:hover{
    border: 2px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 4px 6px 1px whitesmoke;
    background-color: rgb(159, 137, 111);
    color: whitesmoke;
}


.materials{
    padding: 20px 40px;
    text-align: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.card__cont{
    border: 2px solid rgb(180, 153, 120);
    border-radius: 10px;
    padding: 0 30px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s;
}

.card__cont:hover{
    transform: scale(1.2);
}

.card img {
    width: 150px;
    height: 150px;
}

.stampa{
    padding: 10px 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.stampa__text{
    text-align: justify;

}

.stampa img {
    float: right;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    filter: grayscale();
    transition: 1s;
}

.stampa img:hover{
    transform: scale(1.1);
}

.az {
    background-color: rgb(180, 153, 120);
    padding: 40px 40px;
    margin-top: 0.67rem;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.az__text {
    color: whitesmoke;
    text-align: justify;
}

.az img {
    float: left;
    border-radius: 10px;
    width: 350px;
    height: auto;
    filter: grayscale();
    transition: 1s;
}

.az img:hover{
    transform: scale(1.1);
}

.home {
    margin-top: 70px;
    text-align: center;
}

.home__cards{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.home__cards img{
    width: 150px;
    height: 150px;
}

.origin {
    padding: 30px 40px;
    background-color: rgb(180, 153, 120);
    color: whitesmoke;
    text-align: center;
    flex-wrap: wrap;
}

.ia {
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.ia__text {
    text-align: justify;
    flex-wrap: wrap;
}

.ia img{
    border-radius: 10px;
    width: 400px;
    height: 200px;
    filter: grayscale();
    transition: 1s;
}

.ia img:hover{
    transform: scale(1.1);
}

footer{
    background-color: rgb(180, 153, 120);
    color: whitesmoke;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;

}

.logo{
    color: rgb(180, 153, 120);
    background-color: whitesmoke;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px whitesmoke;
}

#contact-us{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
  }

.aziende h3 {
    text-align: center;
}

.aziende ul{
    list-style-type: none;
    transform: translate(-15%, 0%);
}

.projects h3{
    text-align: center;
}

.projects ul{
    list-style-type: none;
    transform: translate(-10%, 0%);
}

.contacts h3 {
    text-align: center;
}
.contacts ul{
    list-style-type: none;
    transform: translate(-15%, 0%);
}

button{
    background-color: whitesmoke ;
    padding: 8px;
    color: black;
    box-shadow: 2px 2px 2px whitesmoke;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: grey;
}

button:hover{
    background-color: whitesmoke;
    border-color: whitesmoke;
}


.copyright{
    text-align: center;
    color: black;
}
